<!DOCTYPE html>
<!-- html 을 시작합니다  -->
<html>
<!-- 이 html에 대한 정의 초기설정 등등-->

<head>
  <title>MyPage</title> <!--  타이틀  -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery.3.1.min.js'></script>
  <script src="/javascripts/jquery-animate-css-rotate-scale.js" type="text/javascript"></script>

 <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
  <!--스타일 정의문서를 포함하는방법-->
</head>
<!--끝났어-->


<body>
  <div class="menubar">
   <div class='mini_menu' style='left:50px;'>안녕</div>
   <div class='mini_menu' style='left:150px;'>안녕2</div>
   <div class='mini_menu' style='left:250px;'>안녕34</div>
  </div>


  <div>
    <input class="a123" type='button' value="훔쳤어"/>
  </div>


  <div id='div_wrapper' class="div_wrapper">
    <div class="div_1">
      1234544
    </div>

    <div style="width:50%">
      56789
    </div>

    <div style="text-align:center; background-color:red; "> 
      <img id='img1' src='/images/mycat.png' style="transform:rotate(0deg);" />
    </div>

  </div>

  <div id='a1' style="background-color:blue;">
    가나달마바사
    <input id='button1' type="button" value="이미지 회전 오른쪽"  style="background-color:red;"/>
    <input id='button2' type="button" value="이미지 회전 왼쪽"/>

    <button id='fix_deg'>각도 수정</button>
    <input id='deg_val' type='text' value='0'>
<!--  saasfsafv  v-->
  </div>



  <script>


    var toggle=1;
    //136,133,164
    $(document).on('click','#a1',function(){
      console.log('하하');

      if(toggle==1){
        $('#a1').css('background-color','rgb(136,133,164)');
       toggle=0;
      }
      else{
        $('#a1').css('background-color','rgb(200,200,200)');
        toggle=1;
      }
    });

    function getRotationDegrees(obj) {
        var matrix = obj.css("-webkit-transform") ||
        obj.css("-moz-transform")    ||
        obj.css("-ms-transform")     ||
        obj.css("-o-transform")      ||
        obj.css("transform");
        if(matrix !== 'none') {
            var values = matrix.split('(')[1].split(')')[0].split(',');
            var a = values[0];
            var b = values[1];
            var angle = Math.round(Math.atan2(b, a) * (180/Math.PI));
        } else { var angle = 0; }
        return (angle < 0) ? angle + 360 : angle;
    }


      var ok = 1;
      function rotate_img(direction) {
        if (ok == 1) {
          ok = 0;
          if (direction == 'r') {
            $('#img1').animate({ rotate: '+=90deg' }, 500, function () {
              ok = 1;
              $('#deg_val').val(getRotationDegrees($('#img1')));
            });
          }
          else {
            $('#img1').animate({ rotate: '-=90deg' }, 500, function () {
              ok = 1;
              $('#deg_val').val(getRotationDegrees($('#img1')));
            });
          }
        }
      }

    $(document).on('click','#button1',function(){
      rotate_img('r');
    });
    $(document).on('click','#button2',function(){
      rotate_img('l');
    });
    $(document).on('click','#fix_deg',function(){
      if(ok==1){

        ok=0;
        var newdeg= $('#deg_val').val();
        $('#img1').animate({rotate:newdeg},500,function(){
          ok=1;
        }) 
      }

    });

    ////////////키눌렀을때
    $(document).keydown(function (e) {
        //-> 39
        //<- 37        
        if (e.keyCode == 39) {
          //우측
          rotate_img('r');

        }
        else if (e.keyCode == 37) {
          rotate_img('l');
        }
      });


      

  </script>


</body>


</html>