<!DOCTYPE html>
<html>
  <head>
    <title>MyPage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>



  <body>
    <h1>오냐</h1>
    <p>Welcome to 내 홈페이지</p>
    <p>제 홈페이지</p>

  </body>


</html>
