<!DOCTYPE html>
<!-- html 을 시작합니다  -->
<html>  
  <!-- 이 html에 대한 정의 초기설정 등등-->
  <head>
    <title>MyPage</title> <!--  타이틀  -->
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!--스타일 정의문서를 포함하는방법-->
  </head>
  <!--끝났어-->
 


  <body>

    <div style="font-size:50px; color:#FFFFFF; background-color:#D77F6E; width:100%;">
      <div style="width:50%;background-color:#58ff62;">
      12345
     </div>

      <div style="width:50%">
        56789
      </div>   
      <div>
        <img src='/images/mycat.png'/>
      </div>  
    </div>

    <div>
      가나달마바사
    </div>

  </body>


</html>
