.menubar{

  background-color:gray; height:100px; position:relative;
}


.mini_menu{
  position:absolute; top:30px; color:white; background-color:blue; font-size:20px;
  cursor:pointer;
}
.mini_menu:hover{
  color:red;
}



body {
  padding: 0px;
  padding-left:10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}


.div_wrapper{
  font-size:50px;
   color:#FFFFFF; 
   background-color:#D77F6E; 
   width:100%;

}


.div_1{
  width:50%;
  background-color:#58ff62;
}

.a123{
  text-align:center;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;

}
.a123:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
.a123:hover{
  background:#fff;
  color:#1AAB8A;
}

/*
.a123:before,.a123:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

.a123:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.a123:hover:before,.a123:hover:after{
  width:100%;
  transition:800ms ease all;
}
*/